.background {
}

.pixelated {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
}

.game {
  display: flex;
}

.collision {
  opacity: 40%;
}

canvas {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0
}